body {
    margin: 4%;
    font-family: ariel, helvetica neue, neue, sans-serif;
    font-size: 1em;   
}

legend {
    width: 252px; 
    padding: 1rem;
    border: 2px solid #DDD;
    background-color: white;
    font-size: 2rem;
}

fieldset {
    max-width: 50rem;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #DDD;
    background-color: #f5f5f5; 
}

label{
    display: block;
    margin: 15px 0 10px 0;
    width: 100%;   
} 

input {
    border: 2px solid #ddd;
    border-radius: 3px;
    width: 100%; 
}

#message {
    border: 2px solid #ddd;
    border-radius: 3px;
    width: 100%
}

#button {
    margin:35px 0 30px 0;
    width: 100%;
    padding:10px;
    border: none;
    color: white;
    background-color: #6495ed;
}



/*MOBILE*/
@media only screen and (max-width: 25rem) {
    
}

/*TABLET*/
@media only screen and (min-width: 25rem) {
    .name-box, 
    .email-box {
        float:left;
        width: 49%;
    }
    
    .name-box {
        margin-right:2%;
    }
    
    .message-box {
        clear:both;
    }
    
    #button {
        width: 100px;
    }
}

/*DESKTOP*/
@media only screen and (min-width: 40rem) {
  
}
